/* CSS VARIABLES */
:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --bright-blue-hover: hsl(224, 98%, 65%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =================== GENERAL CSS =================== */
body {
  font-family: "Open Sans", sans-serif;
}

.main-container {
  width: 90%;
  margin: auto;
}

/* =================== NAVBAR =================== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.links {
  display: flex;
  gap: 30px;
  font-family: "Raleway", sans-serif;
}

.link a {
  text-decoration: none;
  color: var(--very-dark-blue);
}

.link a:hover {
  cursor: pointer;
}

/* =================== HERO SECTION =================== */
.hero-section {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-heading {
  color: var(--very-dark-blue);
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

.desc {
  color: var(--very-dark-blue);
  line-height: 1.5;
  font-weight: 400;
}

form {
  margin: 30px 0;
  display: flex;
  gap: 10px;
}

.hero-input {
  padding: 10px 5px;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid var(--very-dark-blue);
  border-radius: 2px;
}

.main-btn {
  background-color: var(--bright-blue);
  border: none;
  color: var(--light-grayish-blue);
  padding: 10px 50px;
  border: 1px solid var(--bright-blue);
  border-radius: 2px;
}

.main-btn:hover {
  background-color: var(--bright-blue-hover);
  cursor: pointer;
}

.hero-img {
  width: 50%;
}
